@keyframes grdientMove{
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes float{
  0%   { transform: translate(-50%, 0px); }
  50%  { transform: translate(-50%, -8px); }
  100% { transform: translate(-50%, 0px); }
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

